<%- include header %>
<form method="post">
	<label for="name">用户名：</label><input type="text" id="name" /> <br/>
	<label for="password">密码：</label><input type="password" id="password" /><br/>
	<label for="confirmPwd">确认密码：</label><input type="password" id="confirmPwd" /><br/>
	<label for="email">邮箱：</label><input type="email" id="email" /><br/>
	<button>登录</button>
</form>
<%- include footer %>